// Touch Devices
// -------------------------------------------------- //
.d-touch {
    display: none;
}

.touch {
    .d-touch-none {
        display: none;
    }
    .d-touch {
        display: inherit;
    }
}

