// Font Family
// -------------------------------------------------- //
$font-family-serif: Georgia, Times, "Times New Roman", serif !default;

.font-serif {
    font-family: $font-family-serif;
}

.font-sans-serif {
    font-family: $font-family-sans-serif;
}

.font-monospace {
    font-family: $font-family-monospace;
}

// Size
// -------------------------------------------------- //
.larger {
    font-size: larger;
}

.smaller {
    font-size: smaller;
}

// Weight
// -------------------------------------------------- //
.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

// Alignment and Spacing
// -------------------------------------------------- //
.text-height-normal {
    line-height: normal !important;
}

// Wrapping and breaking
// -------------------------------------------------- //
.text-hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.text-no-break {
    word-wrap: normal;
    -ms-word-break: keep-all;
    word-break: keep-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

// Case Transformations
// -------------------------------------------------- //
.text-no-transform {
    text-transform: none !important;
}

// Lists
// -------------------------------------------------- //
.list-decimal {
    list-style-type: decimal;
}

.list-decimal-leading-zero {
    list-style-type: decimal-leading-zero;
}

.list-lower-alpha {
    list-style-type: lower-alpha;
}

.list-lower-greek {
    list-style-type: lower-greek;
}

.list-lower-latin {
    list-style-type: lower-latin;
}

.list-lower-roman {
    list-style-type: lower-roman
}

.list-upper-alpha {
    list-style-type: upper-alpha;
}

.list-upper-greek {
    list-style-type: upper-greek;
}

.list-upper-latin {
    list-style-type: upper-latin;
}

.list-upper-roman {
    list-style-type: upper-roman
}
